<div class="card card-tweet shadow mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <img class="rounded-circle avatar" [src]="tweet.author.picture" alt="Card image cap"/>
      </div>
      <div class="col-md-6">
        <strong>{{ tweet.author.name }}</strong>
        <div class="mt-1"></div>
        {{ tweet.author.followers }} followers
      </div>
      <div class="col-md-4 text-right pt-3">
        {{ tweet.published_at | timeAgo }}
      </div>
    </div>
  </div>

  <div class="card-body">
    <p class="card-text">
      {{ tweet.message }}
    </p>
  </div>
</div>
